:root {
    --main-bg-color: rgb(8, 8, 53);
    --text-color: rgb(255, 255, 255);
    --ornament-color: #d4b46c;

  }

body {
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 15px;
}

nav {
    display: flex;
    justify-content: space-around;
    border-bottom: 4px solid var(--ornament-color);
    padding-top: 20px;
}
.logo img {
    max-width: 100%;
    filter: brightness(0);
    filter: invert(1);
    transition: 0.5s;
}
.logo img:hover {
    transform: scale(1.1);
}

/* ---------LINKS--------- */
.links {
    display: flex;
    justify-content: space-around;
}
.links a {
    color: #b8b8b8;
  position: relative;
  font-size: 27px;
  text-decoration: none;
}
.first-link a {
    
  margin-bottom: -2232px;
  color: rgb(175, 5, 5);
}
.links a:hover {
    color: #ffffff;
}
.links a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.links a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.header-left-left-top-img {
    background: url("3.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    margin: 10px; 
}
.header-left-right-top-img {
    background: url("3.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 10px;
}

.header-left-left-bottom-img {
    background: url("3.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 10px;
}

.header-left-left-bottom-img img {
    width: 100px;
}
.header-left-right-bottom-img {
    background: url("3.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 10px;
}
.header-left-right-bottom-img img {
    width: 100px;
}
.header-right-img{
    max-width: 45vw;
}
.header-right-img video {
    max-width: 70vw; 
}

.padding-left-20px {
    padding-left: 40px;
}

.infos {
    padding: 20px;
    display: flex;
}
.infos h3 {
    padding: 20px;
}

#smart-title {
    text-align: center;
    padding-top: 20px;
    display: none;
}

@media only screen and (max-width: 990px) {
    body {
      background-color: rgb(42, 45, 137);
    }
    .header-right-img {
        max-width: 100vw;
    }
    .header-right-img video{
        max-width: 100vw;
        margin-top: -200px;
    }
    .padding-left-20px {
        /* padding-left: 0px; */
    }
    main {
        margin-top: -200px;
    }
}
@media only screen and (max-width: 1400px) {
    body {
      background-color: rgb(137, 101, 42);
    }
    .header-right-img {
        max-width: 100vw;
    }
    .header-right-img video{
        min-height: 100vh;
    }

}
@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(215, 67, 33);
    }
    .header-right-img video{
        margin-top: -50px;
        margin-top: -200px;
    }
    .padding-left-20px {
        padding-left: 0px;
        width: 93vw;
    }

}
@media only screen and (max-width: 500px) {
    body {
      background-color: rgb(184, 24, 152);
    }
    .header-right-img {
        max-width: 100vw;
    }
    .header-right-img video{
        max-width: 100vw;
    }
    .padding-left-20px {
        padding-left: 0px;
        width: 94vw;
    }
    nav {
        padding-top: 20px;
    }
    .links {
        margin-top: -60px;
    }

    
}


.section-2 {
    background: url("1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    min-height: 580px;
    margin-top: 20px;
}

.right-info {
    text-align: right;
}
.left-info {
    text-align: left;
}
.section-3 {
    background: url("2.png");
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    min-height: 580px;
    margin-top: 20px;
}

.footer-title {
    text-align: center;
}
.padding-0 {
    padding: 0;
}
.very-big-text {
    font-size: 40px;
    font-weight: 700;
}
.big-text {
    font-size: 30px;
}
.mid-text {
    font-size: 20px;
}
.small-text {
    font-size: 15px;
}
.footer-bg {
    background-color: #dce5ef;
    color: black;

}